/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/12/2017, 15:50:41
    Author     : seletech-note
*/

@font-face {
     font-family: AvenirNext LT Pro Bold;
     src: local(../fonts/avenir-next-lt-pro-bold.otf), url(../fonts/avenir-next-lt-pro-bold.otf);
}

.fundoAzulMenu {
    
    background-color: #57BEE6;
    
}

.fundoAzulEscuro {
    
    background-color: #295465;
}

.elementIconHeader {
    color: #fff;
    padding: 6px;
    margin: 2px;
    text-decoration: none;
    
}

.fonteDoNav {
    
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #275565;
    margin-left:60px;
    margin-right:60px;
    padding-left: 40px;
    padding-right: 40px;
    text-justify: auto;
    letter-spacing: 4px;
    
}

.rowCapa {
    
    background-image:url(../imgAdicional/girl-desk-thinking.jpg);
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    padding:80px;
}